.loading span {
  display: inline-block;
  width: 2px;
  height: 100%;
  border-radius: 4px;
  opacity: 0.7;
  animation: load 1s ease infinite;
}

@keyframes load {
  0%,
  100% {
    height: 12px;
    background: #fef3c7;
  }
  50% {
    height: 30px;
    margin: -15px 0;
    background: #fcd34d;
  }
  100% {
    height: 16px;
    background: #f59e0b;
  }
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading span:nth-child(3) {
  animation-delay: 0.4s;
}

.loading span:nth-child(4) {
  animation-delay: 0.6s;
}

.loading span:nth-child(5) {
  animation-delay: 0.8s;
}
